* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to right, #0D1F23, #AFB3B7);
    color: beige;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    font-weight: 600;
    gap: 15px;
}

.navegacion a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
}

.navegacion a:hover,
.navegacion a.active {
    color: aquamarine;
}

.contenedor {
    display: inline-flex;
    margin-top: 25px;
    height: 600px;
    width: 100%;
    position: fixed;
    align-items: center;

}


.texto {
    max-width: 800px;
    height: 300px;
    display: block;
    padding-left: 20%;



}

.texto h1 {
    font-size: 56px;
    font-weight: 700;
}

.texto h2 {
    font-size: 32px;
    font-weight: 700;
}

.texto h3 {
    font-size: 25px;
    font-weight: 700;
}

.texto p {
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;

}

.Compiladores {
    width: 250px;
    height: 170px;
    background-color: transparent;
    margin-top: 20px;
    border-top: 4px solid aquamarine;
    border-right: 4px solid aquamarine;
    border-bottom: 4px solid aquamarine;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.Compiladores:hover {
    background-image: linear-gradient(to right, #AFB3B7, #0D1F23);
}

.Lenguajes {
    width: 250px;
    height: 170px;
    background-color: transparent;
    margin-top: 20px;
    border-top: 4px solid aquamarine;
    border-left: 4px solid aquamarine;
    border-bottom: 4px solid aquamarine;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.Lenguajes:hover {
    background-image: linear-gradient(to right, #0D1F23, #AFB3B7);
}

.piePagina {
    padding: 10% 0%;
    display: flex;
}

.bottom {
    width: 100%;
    height: 100px;
    display: inline-flex;
    position: fixed;
    bottom: 0;
    padding-left: 10px;
    padding-top: 10px;
    align-items: center;
    gap: 15px;
}

.imgGitHub {
    width: 100px;
    height: 50px;
    background-color: #AFB3B7;
    display: flex;
    border-right: 20%;
}

.imagen {
    width: 600px;
    height: 500px;
    padding-top: 10px;
}

.bottom a {
    color: aquamarine;
}

.contenedor2 {
    display: inline-flex;
    padding-top: 28%;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}