* {
    margin: 0;
    padding: 0;
}
header {
    background-color: aliceblue;
    height: 50px;
}

body {
    background-color: #0D1F23;
    height: 100ph;
    width: 100pw;
}

.imgOrdenador {
    display: grid;
    place-items: center;
    justify-content: center;
    height: 500px;

}

.contenedor {
    width: 100pw;
    height: 680px;
    display: grid;
    place-items: center;
    justify-content: center;
}
footer {
    clear: both;
    padding-bottom: 20px;
    background-color: aqua;
    align-items: center;
}