* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to right, #0D1F23, #AFB3B7);
    color: beige;
}

.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    font-weight: 600;
    gap: 15px;
}

.navegacion a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
}

.navegacion a:hover,
.navegacion a.active {
    color: aquamarine;
}



.texto {
    max-width: 800px;
    height: 300px;
    display: block;
    padding-left: 20%;



}

.texto h1 {
    font-size: 56px;
    font-weight: 700;
}

.texto h2 {
    font-size: 32px;
    font-weight: 700;
}

.texto h3 {
    font-size: 25px;
    font-weight: 700;
}

.texto p {
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;

}

.Compiladores {
    width: 250px;
    height: 170px;
    background-color: transparent;
    margin-top: 20px;
    border-top: 4px solid aquamarine;
    border-right: 4px solid aquamarine;
    border-bottom: 4px solid aquamarine;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.Compiladores:hover {
    background-image: linear-gradient(to right, #AFB3B7, #0D1F23);
}

.Lenguajes {
    width: 250px;
    height: 170px;
    background-color: transparent;
    margin-top: 20px;
    border-top: 4px solid aquamarine;
    border-left: 4px solid aquamarine;
    border-bottom: 4px solid aquamarine;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.Lenguajes:hover {
    background-image: linear-gradient(to right, #0D1F23, #AFB3B7);
}



.bottom {
    width: 100%;
    height: 100px;
    display: inline-flex;
    position: static;
    padding-top: 10px;
    align-items: center;
    gap: 15px;
}

.imgGitHub {
    width: 100px;
    height: 50px;
    background-color: #AFB3B7;
    border-radius: 10%;
    bottom: 10px;
}

.imagen {
    width: 600px;
    height: 500px;
    padding-top: 10px;
}

.bottom a {
    color: aquamarine;
}

.contenedor {
    display: flex;
    margin-top: 25px;
    height: 655px;
    width: 100%;
    align-items: center;
    position: relative;
}

.contenedor2 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
}

.Compiladores {
    align-items: center;
    justify-content: center;
    background-color: #0D1F23;
    display: list-item;
    align-self: flex-end;
}

.Lenguajes {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

.Lengua {
    font-size: 27px;
    color: aliceblue;
}

.Compi {
    font-size: 27px;
    color: aliceblue;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-direction: column;
}


.about-img{
    position: relative;
    width: 150px;
    height: 100px;
    display: flex;  
    border-radius: 20%;
    justify-content: center;
    align-items: center;
}
.about-img img{
    border-radius: 20%;
    width: 90%;
    border: .2rem solid var(--main-color);
    padding: 5px;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.about-content h3{
    padding: 10px;
    font-size: 25px;
    color: aquamarine;
}

.desarrolladores{
    font-size:30px ;
    padding: 10px;
    border-bottom: 2px solid aquamarine;
}